h1 {
  color:blue;
  font-size: 30px;
  font-family: arial;
  text-align: left;
  padding: 10px;
  margin-right: 400px;
  margin-top: 0%;
  }

 label{
   margin-right: 0px;
   padding: 0px;

}
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 

input (type= Welcome!) {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: blue;
  text-align: center;
} 

.card-container {
  position: absolute;
  top: 200px;
  left: 200px; 
} 
.value-container {
  position: absolute;
  width: 55px;
}
.container-top {
  top: 25px;
  left: 30px;
} 

.container-bottom {
  bottom: 20px;
  right: 30px;
  transform: rotate(180deg);
} 
.container-center {
  padding-top: 50%;
  left: 72px;
  
} 
.card { 
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 12.5px;
} 

.value-number {
  color: red;
  font-size: 20px;
  left: 2px;
  position: absolute;
  
  }
.value-suit {
  color: red;
  font-size: 10px;
  left:0;
  position: absolute;
  padding-top: 19px;
  }

 :root { 
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
  }

  * { 
    margin: 0;
    padding: 0
    box-sizing:border-box;
    }

  body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    }
  html {
    scroll-behavior: smooth;
    }
  a {
    color: var(--link-color);
    text-decoration: none;
    }
  /* NAVBAR */
  nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    }
  nav .left a {
    justify-content: flex-start;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    }
  nav .right a {
    justify-content: flex-start;
    color: var(--text-color);
    margin: 0 10px;
    }
  nav .right a:last-child {
    color: white;
    background-color: black;
    padding: 5px 15px;
    border-radius: 5px;
    }
  nav .right a span {
    margin-left: 5px;
    }
  /* SECTION 1: Hero */
  .hero-section { 
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
  }
  .hero-section .text {
    flex: 5;
  }
  .hero-section .text h2 {
    font-size: 45px;
  }
  .hero-section .text .links {
    margin-top: 25px;
  }
  .hero-section .text .links a {
    color: var(--link-color);
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid var(--link-color);
    background-color: transparent;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
  }

  .hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
  }
  .hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
  }
  .hero-section .headshot img {
    width: 350px;
    border-radius: 50%;
  }
  /* SECTION 2: Skills */
  .skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
  }
  .skills-section h2 {
    font-size: 35px;
    text-align: center;
    color: blue;
  }
  .skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .skills-section .cells .cell {
    width: 200px;
    padding: 10px 20px;
    border: 1.5px solid #d3d3d3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5px;
  }
  .skills-section .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border: 2px solid #d3d3d3;
  }
  .skills-section .cells .cell span {
    font-size: 18px;
    color: var(--text-color);
  }
  /* SECTION 3: References */
  .references-section {
    padding: 0 50px;
    margin-bottom: 100px;
  }
  .references-section h2 {
    font-size: 35px;
    margin-bottom: 100px;
    text-align: center;
    color: blue;
  }
  .references-section .group {
    display: flex;
    align-items: center;
    gap:50px;
  }
  .references-section .group .person-details {
    text-align: center;
    flex: 2;
  }
  .references-section .group .person-details img {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .references-section .group .person-details p {
    font-weight: 600;
  }

  .references-section .group .text {
    flex: 8px;
  }
  .references-section .group .text p:last-child {
    font-weight: normal;
    line-height: 1.5;
    color: var(--text-color);
  }

  /* SECTION 4: Contact */
  .contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
  }
  .contact-section h2 {
    font-size: 35px;
    color: blue;
  }
  .contact-section .group {
    display: flex;
    gap: 50px; 
    align-items: flex-start;
    
  }
  .contact-section .group .text {
    flex: 3;
    margin-top: 20px;
  }
  .contact-section .group .form{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    align-content: absolute;

  }
  .contact-section .group .form input,
  .contact-section .group .form textarea {
    border: 2px solid blue;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: poppins, sans-serif;
    background-color: transparent;
    outline: absolute;
    resize: absolute;
  }
  .contact-section .group .form input [type="submit"] {
    background-color: blue;
    color: blue;
    cursor: pointer;
    transition: 0.3s;
  }
  .contact-section .group .form input[type="submit"]:hover {
    background-color: var(--text-color);
    color: var(--link-color);
  }


  @media (max-width: 850px) {
    /* section 1: Hero */
    .hero-section .text h2 {
      font-size: 35px;
    }
  }
  @media (max-width: 740px) {
    /* section 1: Hero */
    .hero-section {
      flex-direction: column-reverse;
      
    }
    .hero-section .headshot img {
     width: 300px;
    
   }
    /* section 3: References */
    .references-section {
      text-align: center;
    }
    .references-section .group {
      flex-direction: column;
    } 
}
  @media (max-width: 600px) {
    /* Navbar */
    nav {
      padding: 0 20px;
    }
    nav .right a:last-child {
      color: var(--text-color);
      background-color: transparent;
      padding: 0;
    }
    nav .right a span {
      display: none;
    }
    /* section 1: Hero */
    .hero-section {
      padding: 0 20px;
    }
    .hero-section .text h2 {
      font-size: 30px;
    }
    /* section 2: Skills */
    .skills-section {
      padding: 0 20px;
    }
    .skills-section .cells .cell span {
      font-size: 16px;
    }
  }
  